<header class="page-header">
  <div class="header-block-container">
    <h1>Editing Book</h1>
    <%= link_to 'View Book', @book, class: 'button-white-outline' %>
  </div>
</header>

<div class="form-block-container">
  <div class="card">
    <%= render 'form', book: @book %>
  </div>
</div>
